/*
  Color pallete 1 (green):
    dark purple: #05386B
    gray: #379683
    medium green: #5CDB95
    light green: #8EE4AF
    super light green: #EDF5E1

  Color Pallete 2 (pink):
    light yellow: #F8E9A1
    pink: #F76C6C
    light blue: #A8D0E6
    medium blue: #374785
    dark blue: #24305E

*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F76C6C;
  /* background-color: #EDEAE5; */
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #F8E9A1;
}

hr {
  background-color: #F8E9A1 ;
  /* background-color: #FCE181; */
  height: 2px;
  border-style: none;
  border-color: #F8E9A1 ;
  /* border-color: #FCE181; */
  border-radius: 4px;
}

h1, h2, h3, h4 {
  color: #A8D0E6;
  /* color: #026670; */
}

h2, h3, h4 {
  font-size: 22pt;
  padding-top:5%;
}

footer {
  font-size: 12pt;
  margin-left:-5%;
  margin-right:-5%;
}

.header-wrapper {
  padding-top:5%;
}

.header-intro p {
  padding-left:5%;
  margin-right:5%;
}

.header-intro h1 {
  size:20pt;
}

.App {
  text-align: left;
  color: white;
  /* color: black; */
  margin-left:5%;
  margin-right:5%;
  font-size:14pt;
}

.card {
  background-color: #F76C6C;
  /* background-color: #EDEAE5; */
  border: none;
  margin-left:-5%;
  margin-right:-5%;
}

.table-of-contents h2 {
  font-size: 20pt;
}

.table-of-contents p {
  font-size: 14pt;
}

.table-of-contents a {
  color: white;
  text-decoration: none;
}

.journal-text {
  padding-left:5%;
  margin-right:5%;
  font-family: 'Playfair Display', serif;
  text-align: right;
}

.middle {
  text-align:center;
}

.ellipses {
  text-align:center;
  color: black;
  font-size: 30pt;
}



@media only screen and (min-width:600px) {

  body {
    margin-left:5%;
    margin-right:5%;
  }

  a {
    color: #F8E9A1;
    text-decoration: none;
  }

  footer {
    margin-left:0%;
    margin-right:0%;
  }

  .header-wrapper {
    padding-top:0%;
  }

  .gbd h2 {
    padding-top:3%;
    padding-left:5%;
    padding-right:5%;
  }

  .activities h2 {
    padding-top:3%;
    padding-left:5%;
    padding-right:5%;
  }

  .fitness h2 {
    padding-top:3%;
    padding-left:5%;
    padding-right:5%;
  }

  .header-wrapper {
    padding-top:5%;
    padding-left:5%;
    padding-right:5%;
  }

  .card {
    margin-left:15%;
    margin-right: 15%;
  }
  
  a:hover {
    color: #A8D0E6;
  }

  .table-of-contents {
    padding-bottom: 3%;
  }

  #gbd-2 .card {
    padding-bottom: 20%;
  }

  .right {
    float:right;
  }

}